@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
  position: relative;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.boxes div {
  padding: 30px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.boxes h2 {
  margin-top: 20px;
}

.boxes a:hover {
  color: #777;
}

.form {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
  position: relative;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 15px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .btn svg {
//   margin-right: 8px;
// }

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-sm {
  padding: 5px 15px;
  font-size: 13px;
}

.btn-danger {
  background: darkred;
  border: none;
}

.btn-back {
  width: 150px;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.ticket-created {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 50px;
}

.ticket-number {
  margin-bottom: 30px;
}

.ticket-number h2 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.ticket-number p {
  font-size: 1.3rem;
}

.ticket-info {
  font-size: 1.3rem;
}

.ticket,
.ticket-headings {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background: #f4f4f4;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
}

.ticket-headings {
  font-weight: 700;
}

.status {
  background-color: #333;
  color: #fff;
  width: 100px;
  padding: 0 20px;
  justify-self: center;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

.status-new {
  background-color: green;
  color: #fff;
  border-radius: 10px;
}

.status-open {
  background-color: steelblue;
  color: #fff;
  border-radius: 10px;
}

.status-closed {
  background-color: darkred;
  color: #fff;
  border-radius: 10px;
}

.ticket-page {
  position: relative;
  text-align: left;
}

.ticket-page h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticket-page .btn {
  margin-bottom: 30px;
}

.ticket-page .btn-block {
  width: 100%;
  margin-top: 30px;
}

.ticket-desc {
  margin: 20px 0;
  font-size: 17px;
  background-color: #f4f4f4;
  border: 1px #ccc solid;
  padding: 10px 15px;
  border-radius: 5px;
}

.note {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.note-head {
  background: #f4f4f4;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.note-date {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 14px;
}

.delete-note {
  color: red;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.btn-close {
  background: none;
  border: none;
  color: #000;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-close:hover {
  color: red;
  transform: scale(0.98);
}

p.status-in-progress {
  color: orangered;
}

p.status-waiting {
  color: red;
}

p.status-ready {
  color: steelblue;
}

p.status-complete {
  color: green;
}

footer {
  position: sticky;
  top: 95vh;
  text-align: center;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .boxes {
    grid-template-columns: 1fr;
  }

  .form {
    width: 90%;
  }

  .ticket-created h2,
  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}

/* MENU NAV RESPONSIVE */
.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  &__bars {
    cursor: pointer;
  }
}

/* Menu general */
.menu {
  position: absolute;
  opacity: 0;

  top: 4.9rem;
  //left: -300px;
  min-width: 300px;
  height: 80vh;
  background-color: #444;
  color: white;
  z-index: 1000;
  //display: flex;
  // flex-direction: column;
  padding: 2rem;

  /* Añadir transición suave */
  transform: translateX(-300px); /* Oculta el menú inicialmente */
  transition: all 0.3s ease-in-out; /* Transición al aparecer */
}

/* Cuando el menú está abierto */
.menu.menu--open {
  transform: translateX(0); /* Mueve el menú a su posición original */
  opacity: 1;
  //left: 0;
}

.menu__list {
  list-style: none;
  padding: 0;
  align-items: baseline !important;
  flex-direction: column;
}

.menu__list > li {
  margin: 0 !important;
  padding: 0;
  line-height: 2.2;
  a {
    color: white;
  }
}

.menu__parent {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  text-align: left !important;
  padding: 0.5rem 0;
  align-items: center;
  gap: 0.5rem;
}
.home-icon {
  margin-left: 0.2rem;
  margin-right: 0.5rem !important;
}

.submenu {
  font-size: 1rem;
  list-style: none;
  //height: 0;
  //opacity: 0;
  padding-left: 1rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: baseline !important;
  transition: all 0.3s ease-in-out;
}

.show-submenu {
  height: 100%;
  opacity: 1;
}

.submenu li {
  margin: 0 !important;
  font-style: italic;
  font-size: 1rem;
}

.submenu a {
  color: white;
  text-decoration: none;
}

.submenu a:hover {
  text-decoration: underline;
}

.user {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* Responsive adjustments */
// @media (min-width: 768px) {
//   .menu {
//     width: 25%;
//     height: 100%;
//     left: auto;
//   }
// }
.derecha {
  transform: rotate(0deg);
  transition: all 0.3s;
}
.rotate {
  transform: rotate(90deg);
}

// formularios
.med-container {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  margin-bottom: 2rem;

  h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }

  .form {
    display: flex;
    flex-direction: column;
    //gap: 20px;

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 5px;
      flex-grow: 1;

      label {
        font-size: 0.9rem;
        color: #333;
        font-weight: bold;
      }
    }

    .form-row {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
    }

    .input {
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      background-color: #fff;
    }

    .scan-group {
      display: flex;
      align-items: center;

      .qr-icon {
        margin-left: 10px;
        color: #333;
        font-size: 1.5em;
      }
    }

    .form-buttons {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
    }
  }
}

// fin formularios

.path {
  text-align: left;
  margin-bottom: 2rem;
}

//SCAN SECTION

#scan-section {
  margin-bottom: 0 !important;
}

.barcode-scanner {
  margin-bottom: 1rem;
}

#reader {
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.btn-scan {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
}

.btn-scan:hover {
  background-color: #0056b3;
}

//HOME ------------------------------------------------------------------------------------- */

.home-menu {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 5rem;
    //border: 1px solid rgb(221, 220, 220);
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    flex: 1 0 1;
    overflow: hidden;

    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);
    &:hover {
      background-color: #ededed;
    }

    h2 {
      z-index: 100;
    }

    &--icon {
      font-size: 5rem;
      position: absolute;
      top: 0;
      left: -0.5rem;
      transform: rotate(-20deg);
      color: rgba(0, 195, 255, 0.5);
    }
  }
}

/* Slider ***************************************************************************************** */

.slider-medicamentos {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
}

.slider-content {
  display: flex;
  transform: translateX(0);
  transition: transform 0.4s ease-in-out;
  width: 100%;
}

.slider-item {
  height: 15rem;
  position: relative;
  flex: 0 0 100%; /* Cada slide ocupa el 100% del ancho del contenedor */
  text-align: center;
  //padding: 20px;
  //opacity: 0; /* Por defecto, no se ve */
  transition: opacity 0.4s ease-in-out;
  &__text {
    z-index: 10;
  }
}

.slider-item.active {
  opacity: 1; /* Solo el slide activo es visible */
}

.medicamento-imagen {
  width: 100%;
  //height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  //margin: 0 auto 10px;
  //border-radius: 8px;
  //border: 1px solid #ddd;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #007bff;
  color: white;
  border: none;
  padding: 7px 15px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  z-index: 10;
}

.slider-button.prev {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}

.slider-button:hover {
  background-color: #0056b3;
}

/* MODAL  ----------------------------------------------------------- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.modal-content table th,
.modal-content table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.modal-content table th {
  background-color: #f4f4f4;
}

.btn-close {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* basrcode search ***************************************************************************/

.search-icon {
  position: absolute;
  top: 2.2rem;
  right: 1rem;
}
